@use 'intro';
@use 'game';

body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
}
.telescope {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  height: auto;
  transform: rotate(180deg);
  z-index: -1;
}
.changeLanguage {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
