* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body,
#root,
.StarUniverse {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.StarUniverse {
  /* background-color: #11021e; */
  background: #4b79a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #283e51,
    #0a2342
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: -olinear-gradient(to top, #283e51, #0a2342);
}
